html, body, #root
  height: 100%

.gridContainer
  height: 100vh
  width: 100vw
  overflow: hidden

.toolBar
  width: 100%
  background-color: #3f51b5

.mainContent
  height: calc(100vh - 48px)
  overflow: auto

.navigation
  background-color: lightgray